$color-primary-dark: rgb(255, 96, 0);
$color-secondary-light: rgb(255, 165, 89);
$color-accent: rgb(255, 230, 199);
$color-dark: rgb(69, 69, 69);

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  /* font-size: 16px; */
  line-height: 1.7;
  color: #777;
  padding: 3rem;
  box-sizing: border-box;
}

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-dark, 0.8),
      rgba($color-accent, 0.8)
    ),
    url("../img/hero.jpeg");
  background-size: cover;
  background-position: center;
  position: relative;

  clip-path: polygon(0 0, 100% 0%, 100% 80vh, 0 100%);
}

.header__logo-box {
  position: absolute;
  top: 4rem;
  left: 4rem;
}

.header__logo--right {
  height: 7rem;
  position: absolute;
  top: 3rem;
  left: 6rem;
  rotate: 30deg;
  margin: 1rem;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.header__logo--left {
  height: 7rem;
  rotate: -15deg;
  opacity: 0;
  transition: opacity 0.5s ease-in;
}

.header__text-box {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading-primary {
  color: #fff;
  backface-visibility: hidden;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.heading-primary--main {
  display: block;
  font-size: 3rem;
  font-weight: 400;
  letter-spacing: 1rem;
  animation: moveInLeft 1s ease-out;
}
.heading-primary--sub {
  display: block;
  font-size: 2rem;
  font-weight: 700;
  letter-spacing: 2rem;
  animation: moveInRight 1s ease-out;
}

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-6rem);
  }
  80% {
    transform: translateX(0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(6rem);
  }
  80% {
    transform: translateX(-0.6rem);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.btn:link,
.btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.2rem 2.4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all 0.2s;
  position: relative;
  font-size: 1.6rem;
}

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
}

.btn:active {
  transform: translateY(0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
}

.btn--white {
  background-color: #fff;
  color: #777;
}

.btn::after {
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn--white::after {
  background-color: #fff;
}

.btn--animated {
  animation: moveInBottom 0.5s ease-out 0.3s backwards;
}

@media (max-width: 800px) {
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .header__logo--right {
    height: 5rem;
    left: 1.5rem;
    top: 4rem;
  }
  .header__logo--left {
    height: 5rem;
  }
}
@media (max-width: 800px) {
  .header__logo-box {
    opacity: 0;
  }
}
