.section-about {
  //   background-color: $color-grey-light;
  background-color: $color-accent;
  padding: 25rem 0;
  margin-top: -20vh;
}

.section-features {
  padding: 20rem 0;
  background-image: linear-gradient(
      to right,
      rgba($color-primary-dark, 0.8),
      rgba($color-accent, 0.8)
    ),
    url("../img/features2.webp");
  background-size: cover;
  background-position: center;
  transform: skewY(-7deg);
  margin-top: -10rem;
  & > * {
    transform: skewY(7deg);
  }
}
