@media (max-width: 400px) {
  .header__logo-box {
    opacity: 0;
  }
}

@media (max-width: 800px) {
  .header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
  }
  .header__logo--right {
    height: 5rem;
    left: 1.5rem;
    top: 4rem;
  }
  .header__logo--left {
    height: 5rem;
  }
}
